
<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn @(NoButtonClass)" data-bs-dismiss="modal">@this.NoButtonTitle</button>
                <button type="button" class="btn @(YesButtonClass)" data-bs-dismiss="modal" @onclick="OnConfirmCallback">@this.YesButtonTitle</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string YesButtonTitle { get; set; }

    [Parameter]
    public string YesButtonClass { get; set; }

    [Parameter]
    public string NoButtonTitle { get; set; }

    [Parameter]
    public string NoButtonClass { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnConfirmCallback { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(YesButtonTitle))
        {
            YesButtonTitle = "Confirm";
        }

        if (string.IsNullOrEmpty(YesButtonClass))
        {
            YesButtonClass = "btn-primary";
        }

        if (string.IsNullOrEmpty(NoButtonTitle))
        {
            NoButtonTitle = "Cancel";
        }

        if (string.IsNullOrEmpty(NoButtonClass))
        {
            NoButtonClass = "btn-secondary";
        }
    }
}
